@media only screen and (max-width: 500px) {
    #loadr {
max-height:130px;
margin-right:-44px;
		}
}
	body {
    margin:0;
    height:100%;
	background: black;
}
.btnt-primary:active, .btnt-primary.active, .open .dropdown-toggle.btnt-primary {
    background-image: none;
}
.btnt-primary:hover, .btnt-primary:focus, .btnt-primary:active, .btnt-primary.active, .open .dropdown-toggle.btnt-primary {
   background-color: #f44336;
    color: white;
}
.btnt:active, .btnt.active {
     background-color: #f44336;
    color: white;
}
.btnt-primary {
   background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}	
.btnt, .bs {
    width: 50px;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-top: 3px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 3px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.server {
	text-align: center;
	position: absolute;
    bottom: 0;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}	
#adplayer{position: absolute;z-index: 999999999;top: 0px;left: 0px;width: 100%;height: 100%;background-color:black;text-align:center;}#adplayer .closebtt{display: inline-block;background: rgb(204, 204, 204) none repeat scroll 0% 0%;color: black;width: 300px;cursor: pointer;font-size: 18px;text-decoration: none;line-height: 30px;text-align: center;border-radius: 4px;}

.player iframe {
    position: absolute;
    background: #000;
    border: none;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 94%;
}
.player #media-player {
	position: absolute;
    background: #000;
    border: none;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 100%;
	
}	