body {
	background: black;
}
.btnt-primary:active, .btnt-primary.active, .open .dropdown-toggle.btnt-primary {
    background-image: none;
}
.btnt-primary:hover, .btnt-primary:focus, .btnt-primary:active, .btnt-primary.active, .open .dropdown-toggle.btnt-primary {
    color: #fff;
    background-color: #ff0046;
    border-color: #999999;
}
.btnt:active, .btnt.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btnt-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}	
.btnt, .bs {
    width: 50px;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-top: 3px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 3px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.server {
	text-align: center;
	position: absolute;
    bottom: 0;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}	
#adplayer{position: absolute;z-index: 999999999;top: 0px;left: 0px;width: 100%;height: 100%;background-color:#000;text-align:center;}#adplayer .closebtt{display: inline-block;background: rgb(204, 204, 204) none repeat scroll 0% 0%;color: black;width: 300px;cursor: pointer;font-size: 18px;text-decoration: none;line-height: 30px;text-align: center;border-radius: 4px;}

.player iframe {
    position: absolute;
    background: #000;
    border: none;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 94%;
}
.player #media-player {
	position: absolute;
    background: #000;
    border: none;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 92%;
}	